 html, body {
	height: 100%;
}

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
body{ 
		background-color: rgba(97, 209, 117,1); 
        padding:0;  
		margin:0;
font-family: 'Asap', sans-serif;
}
header{
	height:70%;
}
.daddy-container{
height:100%;
}
.my-name{
  position: relative;
  margin: 0 auto;
  padding: 1%;
	font-family: 'Asap', sans-serif;
  color: white;
  font-size: 60px;
  text-align: center;
}
.content-inside-diagnal{
	
}



.content{ 
    margin-top:30px;
    background-color: white;   
     /* Rotate div */
    -ms-transform: skew(0deg,1deg); /* IE 9 */
    -webkit-transform: skew(0deg,1deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,1deg);
	border-top: 5px solid rgba(97, 209, 117,0.7);
	height:200%;/*remove this after developemnt is completet*/
}
/*the image dimension is 6000 to 4000 so the widtha nd height need to be 3/2*/
#cover-image{ 
width: 20em;
  height: 20em;
  border-radius: 50% 50% 50% 50%;
  border: 10px solid rgba(3, 105, 21,0.6);
  box-shadow: 5px 5px 5px 5px #26BA40;
} 
.image-container{
margin:0 auto;
width:20em;
position: relative;
}
.my-designations{
	word-spacing:30px
}
.unskew-content{
	-ms-transform: skew(0deg,-1deg); /* IE 9 */
    -webkit-transform: skew(0deg,-1deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,-1deg);
	/*padding:1%;*/
	margin:0 auto;
	position:relative;
}
img{
width:100%;
}
.exp-container{
	width: 80%;
	margin: 0 auto 1em auto;

  
	 border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.content-container{
position:relative;
margin: 50px auto 0 auto;
width:70%;
height:80%;
padding:2%;
/*border-top: 3px solid rgb(208, 207, 207);
  border-left: 3px solid rgb(208, 207, 207);
  border-right: 3px solid rgb(208, 207, 207);
  border-radius: 6px;*/

}
.exp-description{
text-align:center;
padding: 3px;
font-size: large;
 color: white;
 border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
#prof-exp-description{
  background-color: rgba(74, 142, 208,0.8); 
   	box-shadow: 10px 10px 20px rgba(74, 142, 208,0.5);
}
#education-description{
  background-color: rgba(237, 115, 30,0.8); 
  	box-shadow: 10px 10px 20px rgba(237, 115, 30,0.5);
}
#projects-description{
  background-color: rgba(255, 192, 0,0.7); 
   	box-shadow: 10px 10px 20px rgba(255, 192, 0,0.5);
	
}
.site-heading-bar{  
  color: white;
  text-align: center;
  font-family: 'Asap', sans-serif;
  }
  #education-bar{
  font-size:30px;
  border: 1px solid rgb(235, 113, 30);
  background-color: rgb(235, 113, 30);
  }
  .detail-container{
  padding: 0;
  position:relative;
margin: 50px auto 0 auto;
width:55%;
box-shadow: 0px 10px 25px rgba(136, 136, 136, 0.48);
  }
  .detail-content{
	padding:15px;
  }
 .asu-img-container{
	margin:8px;
 }
 .education-description h1 { color: rgba(113, 108, 108, 0.66);  font-size: 36px; font-weight: normal; line-height: 54px; margin: 20px 0 10px 0; }

 .education-description p { color: #333333; font-size: 18px; line-height: 28px; margin: 0 0 28px; }
  .course-tag{
	/*text-align:center;*/
  }
 .course-tag  a{
 background-color:rgb(235, 113, 30);
  border: 1px solid rgb(235, 113, 30);
  color:white;
  font-size: 24px;
  margin:4px
 }
.course-tag a:hover,
.course-tag a:active{
	background-color:rgba(235, 113, 30,0.3);
	border: 1px solid rgb(235, 113, 30);
	  color:white;
}